@font-face {
    font-family: 'texgyreadventorbold';
    src: url('fonts/texgyreadventor-bold-webfont.eot');
    src: url('fonts/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyreadventor-bold-webfont.woff') format('woff'),
         url('fonts/texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('fonts/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreadventorregular';
    src: url('fonts/texgyreadventor-regular-webfont.eot');
    src: url('fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyreadventor-regular-webfont.woff') format('woff'),
         url('fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'turbodrive';
	src:url('fonts/turbodrive.eot?bch85c');
	src:url('fonts/turbodrive.eot?#iefixbch85c') format('embedded-opentype'),
		url('fonts/turbodrive.woff?bch85c') format('woff'),
		url('fonts/turbodrive.ttf?bch85c') format('truetype'),
		url('fonts/turbodrive.svg?bch85c#turbodrive') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
    font-family: 'turbodrive'; /* BYO icon font, mapped smartly */
    content: attr(data-icon);
    font-size: 42px;
    
    speak: none; /* Not to be trusted, but hey. */
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-alone {
    -webkit-transition: 0.15s; /* For Safari 3.1 to 6.0 */
    transition: .15s;
    margin-right: 10px;
    margin-bottom: 15px;
    color: #8F7E7F;
    display: inline-block; /* Chrome 19 was weird with clickability without this */
}

.menu-icon:before {
    font-size: 30px;
    pointer-events: none;
}

.icon-alone:hover {
    text-decoration: none;
    color: #EFECE1;
}

.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.button-contact {
	display: inline-block!important;
	height:30px;
	width: 30px;
	margin-right: 18px;
	padding-bottom: 25px!important;
    color: #53444D!important;
}

.button-contact:hover {
    color: #CECEC4!important;
}

.highlight {
    transition: all 1.8s ease-out 0s;
    opacity: 1;
    color: #EFECE1 !important;
    text-shadow: 0px 0px 15px #EFECE1;
}


html, body {
	height: 100%;
	min-height:100%;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    pointer-events: none;
    font-family:"texgyreadventorregular", "helvetica neue", Arial, sans-serif;
    padding-top: 10px;  
    overflow: hidden;
    background: url('../images/bgProjects.jpg');
	background-size:cover;
	background-position: center center;
}

div {
    pointer-events:auto;
}

a:focus {
  outline: none; /*firefox*/
}

.timeline{
    position:absolute;
    display: block;
    width:100%;
    height: 100px;
    bottom: 0px;
    z-index: 90500;
}

#timelineSvg {
    position: absolute;
    z-index: 410;
}

#timelineBg {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 400;
}

#bgProgress {
    cursor:pointer;
}

#footerGradient {
    position: absolute;
    top: -30px;
    opacity: 0.5;
}

#hexagrid {
    position: absolute;
    top: -50px;
    opacity: 0.25;
}


.video-overlay {
    pointer-events: none;
    position: absolute;
    display: block;    
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 90000;
}
    .landscape-alert-overlay {
        visibility: hidden;
        opacity: 0;
    }

    .landscape-alert-overlay img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 35px
    }
    
    .landscape-alert-overlay button {
        font-size: 20px;
        cursor:default;
    }


    .loader-overlay {
        position: absolute;
        display: block;    
        width: 100%;
        height: 100%;
        z-index: 30;
        background-color: #000000;
    }
    
    .getmore-overlay {
        pointer-events:auto;
        position: absolute;
        right:18%;
        bottom:8%;
        visibility: hidden;
        z-index: 20;
        -webkit-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
        -moz-transform:rotate(-3deg);
    }
        .edgeLoad-gmd-edge { visibility:hidden; }

.overlay-total {
    z-index: 20000000;
}

.next-prev {
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

    .back-to-the-reel {
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }



/************************/

/*.page-section {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: black;
}*/

#reel {
    position: absolute;
    top: 0px;
    left: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #000000;
}
/*.page-section#transition {
	height: 50%;	
}*/

.video-container{
    width: 100%;
    height:100%;
	padding:0px;
    background-color: #000000;
    /*margin-top: -10px;    */
}

video#video {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0%;
}

button.videoNoise {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    background-color: #000000;
    background-image: url(../images/videoNoise.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: rgba(239,236,225,1);
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    font-family: 'texgyreadventorbold';
    border: none;
}

button#play-pause {
    font-size: 45px;
    cursor: pointer;
    line-height: 53px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    visibility:hidden;
}

/*a.contact-img { background: url('../images/menu_contact.svg');}
a.share-img { background: url('../images/menu_share.svg');}*/

.navbar-brand {
    padding-top: 12px!important;
}

.navbar-default {
	background-color: #241625;
	border-color: #262223;
    z-index: 100000!important;
    visibility: hidden;
	opacity: 0;
    height: 50px;
}

.navbar-default .navbar-brand {
	color: #cecec4;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecece1;
}
.navbar-default .navbar-text {
	color: #cecec4;
}
.navbar-default .navbar-nav > li > a {
	color: #53444D;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ecece1;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecece1;
	background-color: #d15f5f;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecece1;
	background-color: #d15f5f;
}
.navbar-default .navbar-toggle {
	border-color: #d15f5f; 
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #d15f5f;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #cecec4;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #cecec4;
}
.navbar-default .navbar-link {
	color: #cecec4;
}
.navbar-default .navbar-link:hover {
	color: #ecece1;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #cecec4;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecece1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecece1;
		background-color: #d15f5f;
	}
}

.button-menu, .about-button, .blog-button {
    -webkit-transition: 0.15s; /* For Safari 3.1 to 6.0 */
    transition: .15s;
    
	display: inline-block!important;
    overflow: hidden;
	height:35px;
	width: 134px;
	margin-right: 0px;
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-top: 11px!important;
	padding-bottom: 35px!important;
	background-position:0px 10px!important;
	background-repeat:no-repeat!important;
    font-family:"texgyreadventorbold", "helvetica neue", Arial, sans-serif;
    color: #53444D;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 13px!important;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.about-button:hover,
.button-menu:hover,
.blog-button:hover{
    color: #CECEC4;
}

.navbar a.active {
    color: #CECEC4!important;
}

a.blog-button,
a.about-button {
    padding-top: 18px!important;
    padding-bottom: 20px!important;
}

.navbar-stealth {
    background-color: transparent;
    border-bottom-color: transparent;
    transition: 0.3s;
}

.navbar-stealth:hover {
    background-color: #241625;
    border-bottom-color: #262223;
}

.navbar-stealth .container {
    opacity: 0.6;
    transition: 0.4s;
}

.navbar-stealth .navbar-header {
    transition: 0.4s;
    opacity: 0;
}

.navbar-stealth:hover .navbar-header,
.navbar-stealth:hover .container {
   opacity: 1;
}

.navbar-stealth .highlightContainer {
    opacity: 1;
}

.navbar-right {
    position: absolute;
    right: 14%;
}

li.blog {
    background-color: rgba(0,0,0,0.20);
    height: 50px;
    position: fixed;
    right: 0;
    width: 10%;
    text-align: center;
    border-left: 1px solid rgba(125,125,125,0.15);
    border-bottom: 1px solid rgba(125,125,125,0.1);
}

li.blog > a {
    padding: 0px;
    width: auto;   
}

.navbar-default .navbar-nav > li.blog > a {
    color: #6f636b;
}

.navbar-default .navbar-nav > li.blog > a:hover {
    color: #ecece1;
}

.navbar-stealth .navbar-nav > li.blog > a {
    opacity: 0.6;
}

.navbar-stealth .navbar-nav > li.blog > a:hover {
    opacity: 1;
}


@media (min-width: 768px) {
    .container {
        width: auto;
        padding-left: 30px;
    }
}

@media (min-width: 992px) {
    .container {
        width: auto;
        padding-left: 100px;
    }
}



/***** MENU3D *******/
.menu3D {
    display: block;
    visibility: hidden;
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: rgba(36,22,37,0.80);
    padding-top: 44px; /* old = 50px */
    overflow: hidden;
    z-index: 90000;
}

.menuSelectedCases{
    padding-left: 10px;
    padding-right: 10px;
    height: 150px;
}

.menuMoreProjects{
    height: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

.buttonSubMenu{
    margin-right: 2px;
    float: left;
    height: 140px;
    display: block;
    background-color: #D15F5F;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    text-indent:-9999px;
}


.buttonSubMenu.backToReel{
    font-size: 25px;
    line-height: 25px;
    font-family:"texgyreadventorbold", "helvetica neue", Arial, sans-serif;
    text-transform: uppercase;
    background-color: #efece1;
    left: 50px;
    padding: 15px;
    color: #8f7e7f;
    text-decoration: none;
    text-indent:0px;
}

.menuSelectedCases .buttonSubMenu {
    width: 80px;
}

.menuMoreProjects .buttonSubMenu {
    width: 60px;
}

.contactPanel {
    background-image: url(../images/bgContactHeader.png);
    background-position: top right;
    background-repeat: no-repeat;
    position: absolute;
    padding: 0px;
    width:1024px;
    left:1024px;
    top:-4px;
    /*background-color: #251927;*/
    height: 306px;
}

.contactPanel h1{
    font-family:"texgyreadventorbold", "helvetica neue", Arial, sans-serif;
    font-size: 34px;
    margin: 0px;
    padding: 0px;
    /*padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;*/
    color: #CECEC4;
    position: static ;
    letter-spacing: -1px;
}

.contactPanel h2{
    font-size: 16px;
    font-family:"texgyreadventorbold", "helvetica neue", Arial, sans-serif;
    text-transform: uppercase;
    /*padding-left: 10px;
    padding-right: 10px;*/
    color: #CECEC4;
    position: static;
    letter-spacing: -0.3px;
}

.contactPanel p{
    line-height: 17px;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    color: #CECEC4;
    opacity: 1;
    width: auto;
    position: static;
    left : 1px;
}

.contactPanel a{
    color: #CECEC4;
    text-decoration: underline;
}

.contactPanel .hireMe {
    background-image: url(../images/bgHireHeader.png);
    background-position: top right;
    background-repeat: no-repeat;
    position: absolute;
    padding-left: 20px;
    padding-top: 45px;
    min-width: 400px;
    width: 430px/*350px*/;
    height: 310px;
    z-index: 202;
}

.contactPanel .hireMe p{
    font-size: 12px;
    margin-top: 16px;
    color: #EFECE1;
}

.contactPanel .hireMe h1{
    font-family:"texgyreadventorbold", "helvetica neue", Arial, sans-serif;
    color: #EFECE1;
    font-size: 47px;
    margin-bottom: -6px;
    
}

.contactPanel .hireMe h2{
    font-family:"texgyreadventorbold", "helvetica neue", Arial, sans-serif;
    color: #EFECE1;
    font-size: 24px;
    letter-spacing: -1px;
    font-kerning:auto;
}

a.buttonShare {
    transition: background-color 0.15s ease-out;
    background-color: #3D2F3A;
    color: #C4C0C3;
    display: inline-block;
    width: 32px;
    height:32px;
    text-decoration: none;
    padding: 6px 0px 0px 1px;
    margin: 0px 1px;
    border: 2px solid transparent;
}

a.buttonShare:active {
    opacity: 0.95;
    border: 2px solid #C4C0C3;
}

a.facebook:hover,
a.facebook:active {
    background-color: #1E4389;
}

a.twitter:hover,
a.twitter:active {
    background-color: #28A9E0;
}

a.linkedin:hover,
a.linkedin:active {
    background-color: #156695;
}

a.googleplus:hover,
a.googleplus:active {
    background-color: #D5492C;
}

a.pinterest:hover,
a.pinterest:active {
    background-color: #CD152B;
}

a.vimeo:hover,
a.vimeo:active {
    background-color: #1EB8EB;
}

a.buttonShare:hover,
a.buttonShare:active {
    color: #FFF;
    text-decoration: none;
}

a.github:hover,
a.github:active {
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
}

/*** TOOLTIPS ***/

.tooltip {
    font-family:"texgyreadventorbold", "helvetica neue", Arial, sans-serif; 
    font-size: 11px;
}

.tooltip-inner{
    color:#53444D;
    background-color:#EFECE1;
    letter-spacing: -0.15px;
    border-radius:2px;
    text-transform: uppercase;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #EFECE1;
}

/**********/

.content {
    opacity: 0.25;
    padding-left: 10px;
    padding-top: 45px;
}

.content h1 {
    height:auto;
}

.contact > .content > p {
    margin-top: 25px;
}

.contact {
    position: absolute;
    padding-left: 0px 0px;
    left: 350px;
    min-width: 290px;
    /*width: 350px;
    height: 240px;
    background-color: #251927;*/
}

.listContactContainer {
    width: 100%;
    margin-top: 20px;
}

.listContact {
    float: left;
    width: 100px;
}
.listContact2 {
    float: left;
}

.miniUpCase {
    text-transform: uppercase;
    font-family:"texgyreadventorbold", "helvetica neue", Arial, sans-serif;
    font-size: 10px;
    padding-right: 10px;
}

.share {
    position: absolute;
    padding-left: 0px 0px;
    left: 700px;
    min-width: 280px;
    /*width: 350px;
    height: 240px;
    background-color: #251927;*/
}

.share p {
    margin-top: 5px;
    margin-bottom: 35px;
}

.share p.share-block {
    margin-bottom: 8px;
    margin-top: -15px;
    text-indent:105px;
    max-width: 210px;
}


.closeMenu {
    position: absolute;
    left: 950px;
    width: 80px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin: 0px auto;
}

.folioPlayer {
    position: absolute;
    width: 640px;
    height: 360px;
    left: 250px;
    top: 250px;
    z-index: 300;
}

.timeline-menu {
    position: absolute;
    bottom: 0px;
    z-index: 2000;
    left: 120px;
    height: 60px;
    opacity: 0;
    visibility: hidden;
}

.timeline-menu ul {
    margin: 0px;
    padding: 0px;
}

.timeline-menu li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.timeline-menu a {
    transition: opacity 0.15s ease-out 0;
    color: #FEF7A0;
    display: inline-block;
    border-bottom: 2px solid #FEF7A0;
    min-width: 65px;
    padding-right: 10px;
    height: 25px;
    text-transform: uppercase;
    font-family:"texgyreadventorbold", "helvetica neue", Arial, sans-serif;
    margin: 0px;
    letter-spacing: -0.2px;
    opacity: 0.4;
    text-shadow: 0px 0px 10px rgba(254,247,180,0.7);
}

.timeline-menu a.no-project {
    color: #D5EFC8;
    border-bottom-color: #D5EFC8;
    text-shadow: 0px 0px 10px rgba(213,239,200,0.7);
    position: relative;
    top: 12px;
}

.timeline-menu a:hover,
.timeline-menu a:active,
.timeline-menu a:focus{
    text-decoration: none;  
}

.timeline-menu a:hover {
    opacity: 1;
}

.timeline-menu a.active {
    opacity: 0.7;
}



/***** HYPERDRIVE 3D ****/

.hyperdrive-particle {
    display: block;
    width: 1200px;
    height: 15px;
}

.hyperdrive-particle-texture {
    display: block;
    background-image: url(../images/hyperdrive_beam.png);
    background-size: 100% 100%;
    height: 15px;
    width: 1200px;
}
/***** SPRITE 3D ****/

.grid {
	width: 1280px;
	height: 1280px;
    background: url('../images/cellRow_1280_addflat.png');
    background-repeat: repeat-y;
    /*border:5px solid red;*/
}


.page {
    /*opacity: 0;
    visibility: hidden;*/
    pointer-events: none;
	width: 1280px;
	height: 720px;
    /*background-color: rgba(255,0,0,0);*/
}

h1{
    color: #EFECE1;
    font-size: 40px;
    font-family:"texgyreadventorbold", "helvetica neue", Arial, sans-serif;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    width: 500px;
    height: 50px;
	position: fixed;
}

h2{
    color: #8F7E7F;
    font-family:"texgyreadventorregular", "helvetica neue", Arial, sans-serif;
    font-size: 22px;
    padding: 0px;
    margin: 0px;
    width : 500px;
    height: 25px;
    position: fixed;
}

h3{
    color: #8F7E7F;
    font-family:"texgyreadventorbold", "helvetica neue", Arial, sans-serif;
    font-size: 25px;
    padding: 30px;
}

p{
    color: #CECEC4;
    font-family:"texgyreadventorregular", "helvetica neue", Arial, sans-serif;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.8px;
    padding: 0px;
    margin: 0px;
    /*opacity: 0.8;*/
    width: 340px;
}

p.skills-icon {
    width: 380px;
}

p.skills-icon a {
    border-bottom: 2px solid transparent;
}

p.skills-icon a:hover {
    border-bottom: 2px solid #d15f5f;
}

.icon-skill {
    margin: 12px 25px 22px 0px;
    
}

/*.title {
    width: 500px;
    height: 50px;
	position: fixed;
    background-color: rgba(0,255,0,0.25);
}

.client {
    width : 500px;
    height: 25px;
    position: fixed;
    margin: 0px;
    padding: 0px;
    background-color: rgba(255,0,0,0.25);
}*/

/*.projectContent {
    margin: 0px;
    padding: 0px;
	position: fixed;
    width: 400px;
}*/

/***********************************************************************/
/***************************** PROJECTS ********************************/

.icon-play {
    visibility: hidden;
}

.icon-play > [data-icon]:before {
    font-size: 90px;
    line-height: 85px;
    margin-right: -2px;
    padding: 0px;
}

a.icon-play {
    transition: 0.15s;
    -webkit-transition:0.15s;
    -moz-transition:0.15s;
    
    margin: 0px;
    padding: 0px;
    display: inline-block;
    background-color: rgba(60,41,64,0.9);
    color: #8F7E7F;
    position: fixed;
    -webkit-box-shadow: 0px 0px 25px rgba(33, 14, 36, 1);
    -moz-box-shadow:    0px 0px 25px rgba(33, 14, 36, 1);
    box-shadow:         0px 0px 25px rgba(33, 14, 36, 1);
}

a.icon-play:hover {
    background-color: rgba(77,46,67,1);
    color: #EFECE1;
    -webkit-box-shadow: 0px 0px 60px rgba(210, 92, 97, 1);
    -moz-box-shadow:    0px 0px 60px rgba(210, 92, 97, 1);
    box-shadow:         0px 0px 60px rgba(210, 92, 97, 1);
    
}

/*.pictoPlayContainer {
    cursor: pointer;
    pointer-events: auto;
    background-color: rgba(0,255,0,0);
    width: 200px;
    height: 200px;
}

.pictoPlay {
    
    margin: 0px;
    padding: 0px;
	position: fixed;
    -webkit-box-shadow: 0px 0px 80px rgba(32, 15, 37, 0.8);
    -moz-box-shadow:    0px 0px 80px rgba(32, 15, 37, 0.8);
    box-shadow:         0px 0px 80px rgba(32, 15, 37, 0.8);
}*/


/***********************************************************************/
/******************************** ABOUT ********************************/

.about h1 {
    margin-bottom: 18px;
    letter-spacing: -1px;
    font-size: 40px;
    width: 590px;
}

.about h2 {
    font-family: "texgyreadventorbold";
    text-transform: uppercase;
    margin-bottom: -5px;
    font-size: 22px;
    width: 206px;
}

.about p {
    width: 590px;
    color: #EFECE1;
    line-height: 18px;
    font-size: 12px;
    margin-bottom: 12px;
    letter-spacing: 1px;
    position:fixed;
}

.about h3 {
    font-family: "texgyreadventorbold";
    color: #CECEC4;
    padding: 0px;
    font-size: 26px;
    text-transform: uppercase;
}

h3.timelineDate {
    font-size: 75px;
}


/***********************************************************************/
/******************* ABOUT - Skills Field menu *************************/
/***********************************************************************/

.about-menu ul {
    display: block;
    height: 242px;
    padding: 0px;
}

.about-menu li {
    transition: color 0.2s ease-out 0;
    cursor: pointer;
    display: block;
    position:relative;
    float: left;
    
    /*background-image: url(../images/menu_about.png);*/
    padding: 0px;
    margin: 0px;
    
    color: #77646B;
    text-transform: uppercase;
    font-size: 9px;
    font-family: "texgyreadventorbold";

    text-align: center;
    line-height: 10px;
}

.about-menu li:hover{
   color: #EFECE1; 
}

/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
        .about-menu li, .about-menu li:after {
            background-image: url(../images/menu_about@2x.png);
            background-size: 600px 400px;
        }
}*/

.about-menu li a,
.skillsfield-menu li a {
    color: inherit;
    display: block;
    margin-top: 43px;
}

.about-menu li a:hover ,
.skillsfield-menu li a:hover,
.about-menu li a:visited ,
.skillsfield-menu li a:visited,
.about-menu li a:focus ,
.skillsfield-menu li a:focus,
.about-menu li a:active ,
.skillsfield-menu li a:active {
    text-decoration: none;
}


.about-menu li > span.skill-icon {
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    line-height: 5px;
    z-index: 2;
}
.skillsfield-menu li span.skill-text,
.about-menu li span.skill-text {
    z-index: 2;
    display: block;
    position: relative;
    color: inherit;
}

.skill-bg-out {
    display: block;
    background-image: url(../images/menu_about.png);
    z-index: -2;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.skill-bg-over {
    display: block;
    background-image: url(../images/menu_about.png);
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
}


.about-menu li.editing {
    width: 118px;
    height: 98px;
    padding-left: 30px;
    left: 0px;
    top: 144px;
}

.about-menu li.editing .skill-bg-out {
    background-position: 0px -32px;
}

.about-menu li.editing .skill-bg-over {
    background-position: 0px -162px;
}
    
.about-menu li.three {
    width: 79px;
    height: 108px;
    top: 112px;
}

.about-menu li.three .skill-bg-out {
    background-position: -118px 0px;
}

.about-menu li.three .skill-bg-over {
    background-position: -118px -130px;
}

.about-menu li.research {
    width: 84px;
    height: 133px;
    top: 97px;
}

.about-menu li.research .skill-bg-out {
    background-position: -197px -97px;
}

.about-menu li.research .skill-bg-over {
    background-position: -197px -240px;
}

.about-menu li.research a {
    margin-top: 48px;
}

.about-menu li.compositing {
    width: 88px;
    height: 135px;
    top: 61px;
}

.about-menu li.compositing .skill-bg-out {
    background-position: -281px -61px;
}

.about-menu li.compositing .skill-bg-over {
    background-position: -281px -204px;
}

.about-menu li.compositing > a {
    margin-top: 55px;
}

.about-menu li.front {
    background-position: -369px -23px;
    width: 91px;
    height: 136px;
    top: 23px;
}

.about-menu li.front > a {
    margin-top: 48px;
}

.about-menu li.front .skill-bg-out {
    background-position: -369px -23px;
}

.about-menu li.front .skill-bg-over {
    background-position: -369px -166px;
}

.about-menu li.motion {    
    width: 140px;
    height: 122px;
    top: 0px;
    padding-right: 40px;
}

.about-menu li.motion .skill-bg-out {
    background-position: -460px 0px;
}

.about-menu li.motion .skill-bg-over {
    background-position: -460px -143px;
}

/***********************************************************************/
/***********************************************************************/

.about h3 {
    border-bottom: 1px solid #8F7E7F;
    display: inline-block;
    padding-bottom: 5px;
}

.about h3.nine {
    font-family: "texgyreadventorbold";
    color: #CECEC4;
    padding: 0px;
    font-size: 46px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.about h3 > .years {
    font-size: 16px;
    display: inline-block;
    position:absolute;
    float: right;
    padding-left: 3px;
    margin-top: 8px;
}

.about h3 > .digital {
    font-size: 24px;
    color: #8F7E7F;
    display: inline-block;
    padding-left: 3px;
    margin-top: 2px;
    letter-spacing: -0.5px;
}


/** TIMELINE SECTION ***/
.timeline-info h1 {
    font-family: "texgyreadventorbold";
    color: #CECEC4;
    padding: 0px;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0px;
    display: inline-block;
}

.timeline-info h1 > .years {
    font-size: 20px;
    display: inline-block;
    position:absolute;
    float: right;
    padding-left: 4px;
    margin-top: 11px;
}

.timeline-info h1 > .digital {
    font-size: 32px;
    color: #8F7E7F;
    display: inline-block;
    padding-left: 4px;
    margin-top: 4px;
    letter-spacing: -0.5px;
}

.timeline-info h3 {
    color: #EFECE1;
    padding: 0px;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: -0.7px;
}

.timeline-info p {
    color: #CECEC4;
    padding: 0px;
    width: 490px;
    font-size: 11px;
    line-height: 20px;
}

.timeline-info .date {
    color: #CECEC4;
    padding: 0px;
    width: 490px;
}

.ready-now {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 14px;
}

.ready-work {
    text-transform: uppercase;
    font-size: 19px;
    font-family: "texgyreadventorbold";
    line-height: 5px;
    letter-spacing: -0.3px;
}


/***********************************************************************/
/******************* SKILLS - Menu *************************/
/***********************************************************************/

.skillsfield-menu ul {
    display: block;
    height: 346px;
    padding: 0px;
}

.skillsfield-menu [data-icon]:before {
    font-size: 44px;
}

.skillsfield-menu li {
    cursor: pointer;
    transition: color 0.2s ease-out 0;
    display: block;
    position:relative;
    float: left;
    
    padding: 0px;
    margin: 0px;
    
    color: #77646B;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "texgyreadventorbold";

    text-align: center;
    line-height: 12px;
}

.skillsfield-menu li a {
    margin-top: 32px;
}

.skillsfield-menu .skill-bg-out {
    background-image: url(../images/menu_skills.png);
}

.skillsfield-menu .skill-bg-over {
    background-image: url(../images/menu_skills.png);
}

/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
        .skillsfield-menu li, .skillsfield-menu li:after {
                background-image: url(../images/menu_skills@2x.png);
                background-size: 800px 400px;
        }
}*/

.skillsfield-menu li:hover {
    color: #EFECE1;
}

.skillsfield-menu li > span.skill-icon {
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    line-height: 5px;
    z-index: 2;
}
.skillsfield-menu li > span.skill-text {
    z-index: 2;
    display: block;
    position: relative;
}

.skillsfield-menu li.editing {
    width: 128px;
    height: 89px;
    padding-left: 30px;
    left: 0px;
    top: 49px;
}

.skillsfield-menu li.editing .skill-bg-out {
    background-position: 0px -14px;
}

.skillsfield-menu li.editing .skill-bg-over {
    background-position: 0px -134px;
}
    
.skillsfield-menu li.three {
    width: 108px;
    height: 93px;
    top: 35px;
}

.skillsfield-menu li.three .skill-bg-out {
    background-position: -128px 0px;
}

.skillsfield-menu li.three .skill-bg-over {
    background-position: -128px -120px;
}

.skillsfield-menu li.research {
    width: 106px;
    height: 106px;
    top: 40px;
}

.skillsfield-menu li.research .skill-bg-out {
    background-position: -236px -40px;
}

.skillsfield-menu li.research .skill-bg-over {
    background-position: -236px -185px;
}

.skillsfield-menu li.research > span.skill-icon {
    margin-top: 36px;
}

.skillsfield-menu li.compositing {
    width: 105px;
    height: 106px;
    top: 26px;
}

.skillsfield-menu li.compositing .skill-bg-out {
    background-position: -342px -26px;
}

.skillsfield-menu li.compositing .skill-bg-over {
    background-position: -342px -171px;
    
}

.skillsfield-menu li.compositing a {
    margin-top: 38px;
}

.skillsfield-menu li.front {
    background-position: -447px -12px;
    width: 109px;
    height: 106px;
    top: 12px;
}

.skillsfield-menu li.front .skill-bg-out {
    background-position: -447px -12px;
}

.skillsfield-menu li.front .skill-bg-over {
    background-position: -447px -157px;
    
}

.skillsfield-menu li.front a {
    margin-top: 33px;
}

.skillsfield-menu li.motion {
    background-position: -556px 0px;
    width: 156px;
    height: 106px;
    top: 0px;
    padding-right: 40px;
}

.skillsfield-menu li.motion .skill-bg-out {
    background-position: -556px 0px;
}

.skillsfield-menu li.motion .skill-bg-over {
    background-position: -556px -145px;
    
}
.skillsfield-menu li.motion a {
    margin-top: 34px;
}

/***********************************************************************/
/***********************************************************************/

/** SKILLS SECTIONS ****/
div.skill-section {
    width: 990px;
}

.skill-section h3 {
    text-transform: uppercase;
    letter-spacing: 0.2px;
    padding: 0px;
    margin: 0px;
}

.skill-section h4 {
    text-transform: uppercase;
    font-family: "texgyreadventorbold";
    color: #EFECE1;
    font-size: 38px;
    display: inline-block;
}

.skill-section table {
    position:relative;
    top: 20px;
    float: right;
    color: #938D8E;
    font-size: 10.5px;
    letter-spacing: 0.5px;
    width: 420px;
}

.skill-section th {
    text-transform: uppercase;
    background-color: #332437;
    color: #CECEC4; 
    font-size: 13px;
    letter-spacing: -0.1px;
    font-family: "texgyreadventorbold";
    padding: 5px 10px 6px 15px;
}

.skill-section td {
    border-top: #392A3C solid 1px;
    padding: 7px 15px 8px 15px;
}

.skill-section td.noBorder {
    border-top: none;
}

.skill-section td:first-child {
    width: 205px;
    font-family: "texgyreadventorbold";
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.3px;
}

.skill-section p {
    margin-bottom: 15px;
    width: 550px;
}

.twocols-content p {
    width: 445px;
}

.colAndTable-content p {
    width: 460px;
}

.twocols-content {
    height: 180px;
    /*width: 920px;*/
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-gap: 50px;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
}



/**BUTTONS***/

.redButton {
    transition: 0.15s;
    -webkit-transition:0.15s;
    -moz-transition:0.15s;
    background-color: #D15F5F;
    color: #EFECE1;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 10px 4px 10px;
    letter-spacing: -0.2px;  
    line-height: 15px;
    font-family: "texgyreadventorbold";
}

.redButton:after {
    content: "\e60b";
    font-family: 'turbodrive'; /* BYO icon font, mapped smartly */
    font-size: 11px;
    vertical-align:text-bottom;
    padding-left: 7px;
    
    speak: none; /* Not to be trusted, but hey. */
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.redButton:hover {
    background-color: #EFECE1;
    color: #907F80;
    text-decoration: none;
}

.wireframeButton {
    transition: 0.15s;
    -webkit-transition:0.15s;
    -moz-transition:0.15s;
    color: #8F7E7F;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1px 10px 3px 10px;
    letter-spacing: -0.2px;  
    line-height: 14px;
    font-family: "texgyreadventorbold";
    border: 1px solid #3C3C3C;
}

.wireframeButton:before {
    content: "\e60b";
    font-family: 'turbodrive'; /* BYO icon font, mapped smartly */
    font-size: 11px;
    vertical-align:text-bottom;
    padding-right: 7px;
    
    speak: none; /* Not to be trusted, but hey. */
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wireframeButton {
    transition: 0.15s;
    -webkit-transition:0.15s;
    -moz-transition:0.15s;
    color: #8F7E7F;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 11px 5px 11px;
    letter-spacing: -0.2px;  
    line-height: 15px;
    font-family: "texgyreadventorbold";
    border: 1px solid #3C3C3C;
}

.wireframeButton:hover {
    background-color: #EFECE1;
    text-decoration: none;
    color: #8F7E7F;
}

.redLine {
    margin: 0px;
    padding: 0px;
	position: fixed;
    width : 5000px;
    height : 4px;
    background-color: #D15F5F;
}

.textPlane {    
    margin: 0px;
    padding: 0px;
	position: fixed;
    width : 460px;
    height : 5000px;
    background-color: #201026;
    /*background-color: red;*/
    opacity: 0.65;
}

.panelLeft {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100px;
    background: url(../images/previousArrow.svg);
    background-color: transparent;
    background-position: center 30%;
    background-repeat:no-repeat;
    z-index: 100;
    cursor:pointer;
}

.panelRight {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100px;
    background: url(../images/nextArrow.svg);
    background-color: transparent;
    background-position: center 70%;
    background-repeat:no-repeat;
    z-index: 101;
    cursor:pointer;
}

#debug {
    pointer-events: none;
    /*visibility: hidden;*/
	color: #FFF;
	position: absolute;
	bottom: 20px;
	left: 5px;
	width: 410px;
    padding: 5px;
	text-align: left;
	font-family: courier;
    line-height: 10px;
    font-size: 11px;
    z-index: 30000000;
    background-color: rgba(0, 0, 0, 0.6);
}

.barInfo {
    height: 10px;
    width: 100%; 
    display: block;
    background-color: white;
    margin-bottom: 5px;
    padding-left: 5px;
    color: rgba(240,240,240,1);
    text-shadow: 1px 1px black;
    font-size: 10px;
    white-space: nowrap;
}

#interactTxRate {
   background-color: green;
}

#interactTxRate2 {
   background-color: darkslateblue;
}

#interactTxRate2Influence {
   background-color: #963131;
}

#tweenTxRate {
    background-color: darkgoldenrod;
}

.slider {
    width: 270px;
    margin: 4px 0px 8px 6px;    
}
