/*! Turbodrive Stylesheet
 * Author : Silvère Maréchal
 */

@font-face {
    font-family: 'texgyreadventorbold';
    src: url('fonts/texgyreadventor-bold-webfont.eot');
    src: url('fonts/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/texgyreadventor-bold-webfont.woff') format('woff'), url('fonts/texgyreadventor-bold-webfont.ttf') format('truetype'), url('fonts/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'texgyreadventorregular';
    src: url('fonts/texgyreadventor-regular-webfont.eot');
    src: url('fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/texgyreadventor-regular-webfont.woff') format('woff'), url('fonts/texgyreadventor-regular-webfont.ttf') format('truetype'), url('fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'turbodrive';
    src: url('fonts/turbodrive.eot?bch85c');
    src: url('fonts/turbodrive.eot?#iefixbch85c') format('embedded-opentype'), url('fonts/turbodrive.woff?bch85c') format('woff'), url('fonts/turbodrive.ttf?bch85c') format('truetype'), url('fonts/turbodrive.svg?bch85c#turbodrive') format('svg');
    font-weight: normal;
    font-style: normal;
}
[data-icon]:before {
    font-family: 'turbodrive';
    /* BYO icon font, mapped smartly */
    content: attr(data-icon);
    font-size: 26px;
    speak: none;
    /* Not to be trusted, but hey. */
}

html {
    overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/*html {
    overflow-y: hidden;
}*/

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #2F1D33;
    font-family: "texgyreadventorregular";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}
h1 {
    font-family: "texgyreadventorbold";
    font-size: 18px;
}
p,
button,
a,
h1,
h2,
h3,
h4,
ul,
span,
div {
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p {
    color: #CECEC4;
    font-size: 12px;
    padding: 10px;
    letter-spacing: 0px;
}

.warning-mobile {
    width: 100%;
    height: 250px;
    position: fixed;
    -webkit-backface-visibility: hidden;
    left: 0px;
    bottom: -200px;
    z-index: 1000;
}
.warning-mobile .warning-header {
    transition: 0.5s;
    background-color: #D15F5F;
    padding: 11px 20px;
    margin: 0px;
    text-transform: uppercase;
    font-family: "texgyreadventorbold";
    color: #EFECE1;
    height: 30px;
}

.warning-mobile .warning-header[data-icon]:before {
    transition: 0.5s;
    font-size: 32px;
    line-height: 48px;
}
.warning-mobile .warning-header h1 {
    transition: 0.5s;
    max-width: 200px;
    font-size: 13px;
    display: inline-block;
    padding-left: 10px;
    line-height: 14px;
    letter-spacing: 0px;
}

.warning-mobile.small {
   bottom: -220px;
}

.warning-mobile.small .warning-header  {
    padding: 2px 0px 0px 10px ;
    height: 30px;
}

.warning-mobile.small .warning-header [data-icon]:before {
    font-size: 16px;
    line-height: 10px;
}

.warning-mobile.small .warning-header h1 {
    max-width: none;
    font-size: 11px;
    display: inline-block;
    padding-left: 10px;
    padding-top: 6px;
    line-height: 12px;
    letter-spacing: 0px;
    vertical-align: top;
}

.warning-mobile a{
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    padding: inherit;
    margin: inherit;
    text-decoration: none;
}

div.white-bg {
    background-color: #EFECE1;
    padding: 20px;
    height: 500px;
}
div.warning-mobile p {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #907F80;
}
.intro-reel {
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.intro-reel .intro-button {
    transition: 0.15s;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 18px;
    width: 75px;
    height: 160px;
    position: absolute;
    -webkit-backface-visibility: hidden;
     
    letter-spacing: -1px;
    z-index: 20;
    background-image: url(../images/smartphone/reelmenubutton_bg.png);
    top: 0px;   
    right: 0px;
}

.intro-reel .intro-button [data-icon]:before {
    position: relative;
    top: 10px;
    left: 30px;
    font-size: 15px;
    color: #ECECE1;
}

.logo {
    pointer-events: none;
    color: rgba(239, 236, 225, 0.3);
    text-align: center;
    padding-top: 7px;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    /*display: inline-block;*/
}
.logo span.title {
    text-indent: -9999;
}
.logo[data-icon]:before {
    font-size: 32px;
}
button.play-reel {
    transition: 0.15s;
    color: #8F7E7F;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: #000000;
    background-image: url(../images/videoNoise.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
button.play-reel:hover {
    color: #EFECE1;
}
button.play-reel [data-icon]:before {
    font-size: 116px;
    line-height: 100px;
}
button .text-play {
    display: block;
    text-transform: uppercase;
    font-family: "texgyreadventorbold";
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 16px
}
div.main-content {
    transition: right 0.5s;
    background-color: #301E34;
    background-image: url(../images/smartphone/about_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0px -15px;
    /*background-size: 80%;*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    
    right: -100%;
}
div.main-content .header {
    transition: right 0.5s, background-color 0.5s;
    border-bottom: 1px solid rgba(239, 236, 225, 0.1);
    /*margin: 0px 12px;*/
    height: 38px;
    position: fixed;
    -webkit-backface-visibility: hidden;
    top: 0px;
    width: 100%;
    z-index: 2000;    
    right: -100%;
    
}

div.main-content .header.opaque {
    background-color: #231525;
    top: 0px;
}

div.main-content .logo[data-icon]:before {
    font-size: 24px;
    line-height: 30px;
}
a.menu-button {
    opacity: 0.3;
    text-decoration: none;
    transition: 0.15s;
}
a.menu-button:hover {
    opacity: 1;
}
div.main-content .header .hire-me {
    /*transition: 0.15s;*/
    cursor: pointer;
    color: #ECECE1;
    text-transform: uppercase;
    font-family: "texgyreadventorbold";
    font-size: 22px;
    line-height: 18px;
    width: 75px;
    height: 160px;
    position: fixed;
    -webkit-backface-visibility: hidden;
    top: 0px;    
    letter-spacing: -1px;
    z-index: 200;
    background-image: url(../images/smartphone/hireme_bg.png);
    right: -100%;
}

div.main-content .header .hire-me span {
    max-width: 22px;
    pointer-events: none;
    position: relative;
    z-index: 20000;
    left: 23px;
    top: 8px;
}

div.main-content .header .hire-me:hover {
    color: #8F7E7F;
}

div.main-content .header .hire-me .background {
    
    background-color: #D15F5F;
    width: 100px;
    height: 300px;
    position: absolute;
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
    top: -90px;
    right: -90px;
    z-index: 2000;
}

div.main-content .header .hire-me .background:hover {
    background-color: #ECECE1;
    
}
div.main-content .icon-menu {
    padding-left: 12px;
}

div.main-content .icon-menu[data-icon]:before {
    font-size: 15px;
    color: rgba(239, 236, 225, 1);
    line-height: 40px;
    vertical-align: top;
}
.scrollable-content {
    /*margin-left: 40px;
    padding: 12px;*/
    margin-top: 0px;
    margin-bottom: 100px;
    position: absolute;
    z-index: 100;
    overflow: hidden;

}

.section {
    padding: 0px 25px;
}

.section {
    margin-top: 40px;
}

.section.about h2 {
    font-family: "texgyreadventorbold";
    font-size: 14px;
    margin-left: 45%;
    padding-top: 120px;
    color: #8F7E7F;
}
.section.about h1 {
    font-family: "texgyreadventorbold";
    font-size: 27px;
    letter-spacing: -1px;
    max-width: 200px;
    line-height: 22px;
    margin-left: 45%;
    color: #EFEFE1
}

.section.about p {
    padding: 20px 0px 30px 0px;
    line-height: 18px;
}

.red-button {
    transition: 0.15s;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    background-color: #D15F5F;
    color: #EFECE1;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 10px 4px 10px;
    letter-spacing: -0.2px;
    line-height: 16px;
    font-family: "texgyreadventorbold";
    text-decoration: none;
}

.red-button.right {
    float: right;
}

.red-button:after {
    content: "\e60b";
    font-family: 'turbodrive';
    /* BYO icon font, mapped smartly */
    font-size: 11px;
    vertical-align: text-bottom;
    padding-left: 7px;
    speak: none;
    /* Not to be trusted, but hey. */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.red-button:hover {
    background-color: #EFECE1;
    color: #907F80;
    text-decoration: none;
}

.glass-background {
    overflow: hidden;
    width: 1000px;
    height: 250px;
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
    position: absolute;
    background-color: rgba(34, 16, 38, 0.65);
    left: -200px;
    top: 160px;
    z-index: -2;
}

.glass-background.skills {
    height: 450px;
    top: 1320px;
}


.section.timeline {
    margin-top: 100px;
}

.grid-background {
    overflow: hidden;
    width: 1000px;
    height: 1000px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    background-image: url(../images/smartphone/grid_bg.jpg);
    left: -400px;
    top: 400px;
    z-index: -10;
}

h3 {
    font-family: "texgyreadventorbold";
    color: #CECEC4;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #8F7E7F;
    display: inline-block;
    padding-bottom: -5px;
    text-transform: uppercase;
    font-size: 26px;
    margin-left: 0px;
}
h3.nine {
    padding: 0px;
    font-size: 46px;
    letter-spacing: 0px;
    line-height: 38px;
}
h3 > .years {
    font-size: 16px;
    display: inline-block;
    position: absolute;
    float: right;
    padding-left: 1px;
    margin-top: -8px;
    letter-spacing: -0.5px;
}
h3 > .digital {
    font-size: 24px;
    color: #8F7E7F;
    display: inline-block;
    padding-left: 3px;
    margin-top: 1px;
    letter-spacing: -1px;
}
.global-timeline {
    /*padding-left: 15px;*/
}
.timeline-blocks {
    margin-top: 25px;
    margin-left: 5px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    /*height: 2000px;*/
}
.tBlock {
    width: 25px;
    height: 68px;
    background-color: #D15F5F;
    margin-top: 3px;
}
.blockA11 {
    background-color: rgba(209, 95, 95, 0.12);
}
.blockA25 {
    background-color: rgba(209, 95, 95, 0.25);
}
.blockA50 {
    background-color: rgba(209, 95, 95, 0.5);
}
.blockH104 {
    height: 104px;
}
.blockH208 {
    height: 208px;
}
.blockArrow {
    background-color: #FF8383;
    background: url(../images/smartphone/arrow_timeline.png);
    height: 66px;
}
.tBlock .circle {
    width: 13px;
    height: 13px;
    position: relative;
    background-color: #ECECE1;
    border-radius: 50px;
    border: 3px solid #301E34;
    left: 15px;
    top: -11px;
}
.tBlock .line {
    width: 35px;
    height: 2px;
    position: relative;
    background-color: #ECECE1;
    left: 20px;
    top: -21px;
}
.tBlock h4 {
    display: block;
    position: relative;
    width: 50px;
    left: 60px;
    top: -48px;
    margin: 0px;
    padding: 0px;
    color: #CECEC4;
    font-size: 26px;
    letter-spacing: -1px;
    font-family: "texgyreadventorbold";
}
.tBlock p {
    display: block;
    position: relative;
    width: 220px;
    left: 65px;
    top: -45px;
    margin: 0px;
    padding: 0px;
    color: #8F7E7F;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 13px;
}
.tBlock p.timeline-now {
    text-transform: uppercase;
    color: #CECEC4;
    font-size: 18px;
    font-family: "texgyreadventorbold";
    line-height: 16px;
    /*width: 250px;*/
    left: 60px;
    top: -32px;
}
.tBlock p.timeline-now .small {
    font-family: "texgyreadventorregular";
    font-size: 13px;
    line-height: 13px;
    display: block;
}
/****** SKILLS FIELD *******/


.section.skillsfield {
    margin-bottom: 100px;
}

.skillsfield h4 {
    text-transform: uppercase;
    font-family: "texgyreadventorbold";
    font-size: 20px;
    color: #8F7E7F;
    display: block;
    padding-left: 3px;
    margin-top: 50px;
    letter-spacing: -1px;
    line-height: 5px;
}
.skillsfield h4 [data-icon]:before {
    color: #8F7E7F;
    font-size: 28px;
    line-height: 24px;
    padding-right: 10px;
    vertical-align: middle;
}

table {
    margin-top: 25px;
    margin-bottom: 25px;
    /*position:relative;
    top: 20px;*/
    float: right;
    color: #938D8E;
    font-size: 10.5px;
    letter-spacing: 0.5px;
    /*width: 420px;*/
}
th {
    text-transform: uppercase;
    background-color: #332437;
    color: #CECEC4;
    font-size: 13px;
    letter-spacing: -0.1px;
    font-family: "texgyreadventorbold";
    padding: 5px 10px 6px 15px;
    text-align: left;
}
td {
    border-top: #392A3C solid 1px;
    padding: 7px 15px 8px 15px;
    line-height: 12px;
}
td.noBorder {
    border-top: none;
}
td:first-child {
    /*width: 205px;*/
    font-family: "texgyreadventorbold";
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.3px;
}

/** MENU **/
.menu {
    pointer-events: none;
    position: fixed;
    -webkit-backface-visibility: hidden;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 500px;
    z-index: 3000;
    background-image: url(../images/smartphone/menu_bg.png);
    background-position: -17px 0px;
    background-repeat: no-repeat;
}

.menu a {
    pointer-events:auto;
}

.menu a.menu-button {
    opacity: 1;
}

.menu a.menu-button [data-icon]:before {
    font-size: 15px;
    padding: 0px 12px;
    line-height: 40px;
    color: #ECECE1;
    position: absolute; 
}


ul {
    list-style: none;
    padding: 0px;
}

.main-nav li {    
    cursor: pointer;
    transition: 0.15s;
    height: 36px;
    text-transform: uppercase;
    font-family: "texgyreadventorbold";
    color: #CECEC4;
    font-size: 18px;
    border-top: 1px solid rgba(206, 206, 196, 0.10);
    letter-spacing: -1px;
    padding-top: 0px;
    line-height: 35px;
}

.main-nav a {
    padding-left: 0px;
    margin-left: 20px;
    color: inherit;
    text-decoration: none;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
}


a.nine {
    padding: 0px;
    font-size: 26px;
    letter-spacing: 0px;
    line-height: 32px;
}
a > .years {
    font-size: 9px;
    display: inline-block;
    position: absolute;
    float: right;
    padding-left: 2px;
    margin-top: -4px;
    letter-spacing: 0px;
}
a > .digital {
    font-size: 14px;
    color: #8F7E7F;
    display: inline-block;
    padding-left: 2px;
    margin-top: 1px;
    letter-spacing: -0.5px;
}


.main-nav li.exp-button {
    font-size: 12px;
}

.main-nav li.skill-button {
    border-top: none;
    height: 28px;
    opacity: 0.5;
    font-size: 11px;
    line-height: 0px;
    letter-spacing: 0px;
    padding-left: 4px;
    vertical-align: middle;
}

.main-nav li.skill-button span.text {
    vertical-align: top;
    line-height: 20px;
    height: 40px;
    display: inline-block;
    padding-left: 5px;
}

.main-nav li:nth-child(2){
    margin-left: 18px;
}
.main-nav li:nth-child(3){
    margin-left: 36px;
}

.main-nav ul.skills-list li:nth-child(1){
    margin-left: 22px;
}
.main-nav ul.skills-list li:nth-child(2){
    margin-left: 36px;
}
.main-nav ul.skills-list li:nth-child(3){
    margin-left: 50px;
}
.main-nav ul.skills-list li:nth-child(4){
    margin-left: 64px;
}
.main-nav ul.skills-list li:nth-child(5){
    margin-left: 78px;
}
.main-nav ul.skills-list li:nth-child(6){
    margin-left: 92px;
    border-bottom: 1px solid rgba(206, 206, 196, 0.10);
}
 
.main-nav [data-icon]:before {
    line-height: 24px;
    font-size: 22px;
    padding-right: 5px;
    display: inline-block;
}

.main-nav li:hover {
    /*background-color: #160E18;*/
    color: #EFEFE1;
    opacity: 1;
}

.menu .background {
    width: 700px;
    height: 1200px;
    -webkit-transform : rotate(-25deg);
    transform : rotate(-25deg);
    background-color: #261829;
    position: absolute;
    top: -400px;
    left: 110px;
    z-index: -1;
   -webkit-box-shadow: 0px 0px 50px rgba(22, 13, 23, 0.67);
    box-shadow: 0px 0px 50px rgba(22, 13, 23, 0.67);
}

.bttr-button {
    position: fixed;
    bottom: -250px;
    left: -100%;
    width: 300px;
    height: 500px;
    z-index: 2000;
    -webkit-backface-visibility: hidden;
    background-image: url(../images/smartphone/bttr_bg.png);
    background-repeat: no-repeat;    
}

.bttr-button a {
    text-decoration: none;
}

.bttr-button span.gen {
    display: block;
    text-transform: uppercase;
    color: #8F7E7F;
    font-family: "texgyreadventorbold";
    -webkit-transform : rotate(-10deg);
    transform : rotate(-10deg);
    font-size: 30px;
    max-width: 70px;
    line-height: 20px;
    margin-top: 165px;
    margin-left: 8px;
    text-align: center;
    letter-spacing: -1px;
}

.bttr-button .mid {
    display: inline-block;
    font-size: 24px;
    line-height: 15px;
    letter-spacing: -2px;
}

.bttr-button .small {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    vertical-align: top;
}


.bttr-button .background {
    width: 500px;
    height: 1200px;
    -webkit-transform : rotate(-25deg);
    transform : rotate(-25deg);
    background-color: #CECEC4;
    position: absolute;
    top: -200px;
    left: -340px;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 50px rgba(22, 13, 23, 0.67);
    box-shadow: 0px 0px 50px rgba(22, 13, 23, 0.67);
}

.social-bar {
    width: 100%;
    height: 38px;
    margin: 0px;
    text-align: right;
}

.social-bar a {
    transition: 0.15s;
    color: #584951;
    text-decoration: none;
    margin-right: 0px;
}

.social-bar li {
    display: inline-block;
    height: 38px;
    margin-left: 10px;
}

.social-bar [data-icon]:before {
    line-height: 38px;
    display: inline-block;
}

.social-bar a.blog-button {
    text-transform: uppercase;
    font-family: "texgyreadventorbold";
    font-size: 16px;
    line-height: 11px;
    background-color: rgba(0, 0, 0, 0.12);
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    padding: 12px 15px 0px 15px;
    margin-top: -19px;
}

.social-bar a:hover {
    color: #ECECE1;
}



